@model Tarefa

@{
	ViewData["Title"] = "Lista de tarefa";
	Layout = "_Layout";
}
<div class="d-flex justify-content-center py-3">
	<div class="w-75 py-3 px-3 fundoPagina">
		<form asp-action="AtualizarTarefa">
			<div class="d-flex p-3 my-2 mb-3 text-white bg-secondary rounded shadow-sm justify-content-between">

				<div class="d-flex align-items-center mr-auto">
					<div class="lh-100">
						<h2 class="mb-0">Tarefa Id: @Model.Id</h2>
					</div>
				</div>
			</div>
			@*<hr />*@
			<div class="Card shadow-sm">
				<div class="form-group d-flex">
					<label asp-for="Nome" class="mr-2"></label>
					<input class="w-50" asp-for="Nome" maxlength="30" required></input>
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group d-flex align-items-center py-2">
					<label asp-for="Custo" class="mr-2"></label>
					<div class="input-group px-1">
						<div class="input-group-prepend">
							<span class="input-group-text">R$</span>
						</div>
						<input asp-for="Custo" id="campoDecimal" type="text" value="@Model.Custo.ToString("N2")" />
					</div>
					<span asp-validation-for="Custo" class="text-danger"></span>
				</div>
				<div class="form-group py-2">
					<label asp-for="DataLimite"></label>					
					<input asp-for="DataLimite" value="@Model.DataLimite.ToString("yyyy-MM-dd")" required />
					<span asp-validation-for="DataLimite" class="text-danger"></span>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-between">
						<a class="btn btn-outline-secondary" asp-action="Index"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>

						<button class="btn btn-outline-success" type="submit"><i class="fas fa-save fa-lg"></i></button>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#campoDecimal").on("blur", function () {
				var valor = $(this).val();
				valor = valor.replace(/\s/g, "").replace(/\./g, "").replace(",", ".");
				var floatValue = parseFloat(valor);
				if (!isNaN(floatValue)) {
					$(this).val(floatValue.toFixed(2).replace(".", ","));
				}
			});
		});
	</script>
}
